.btn{
    color: black;
    line-height: 1em;
    font-size: 14px;
    border: none;
    width: 100%;
    text-align: left;
}
 a:hover {
    color: red;
  }
 a:hover {
    background-color: #e1dee3;
  
  }
  :root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }

  .modal-body {
    overflow-x: auto;
  }